/*********** vacation card styles ***********/
.vacationCard {
    display: grid;
    padding: 0 15px 22.5px;
    border: 4px double #316ac2;
    border-radius: 5px;
    max-width: 700px;
    margin: 0 auto;
    background-color: #f6f6f6;
}

.vacationTitle {
    text-align: center;
    letter-spacing: .7px;
    font-size: 1.7rem;
    padding: 10px 5px;
    background-color: #275499;
    color: white;
}

.informationWrapper {
    border-left: 2px solid #ffd52d;
    box-shadow: inset 0 0 2px #bbb;
    padding: 0 10px;
    background-color: #fff;
    border-radius: 5px;
}

.vacationDescription {
    font-size: 1.08rem;
    line-height: 1.5;
}

.vacationPrice {
    font-size: 1.08rem;
}

.vacationDuration {
    font-size: 1.08rem;
}

.vacationLocation {
    font-size: 1.08rem;
}

.bold {
    font-weight: bold;
}

.information {
    margin-bottom: 0;
}


/*********** image styles **********/
.imageWrapper {
    max-width: 100%;
}

.image {
    max-width: 100%;
    border: 1px solid black;
}
